{% extends 'base.html' %}
{% block content %}
    <h1>main page</h1>
    <a href="{% url 'articles:new' %}">[NEW]</a>
    {% for article in articles %}
        <p> 글 번호: {{ article.pk }} </p>
        <p> 글 제목: {{ article.title }} </p>
        <p> 글 내용: {{ article.content }} </p>
        <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
        <a href="{% url 'articles:edit' article.pk %}">[EDIT]</a>
        <a href="{% url 'articles:delete' article.pk %}">[DELETE]</a>
        <hr>
    {% endfor %}
    {# 수정: name tag 사용 #}
{% endblock content%}